@{
  Layout = "_Layout";
}

  <div class='container'>
    <h2>Basic AJAX</h2>
    <h4 class='hello-ajax'>Hello AJAX</h4>
    <div id='result1'></div>

    <h2>Using Parameters</h2>
    <h4 class="sum">Sum</h4>
    <div id="result2"></div>

    <h2>Using JSON to display an object</h2>
    <h4 class="display-object">Display object</h4>
    <div id="result3"></div>
  </div>